body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  font-size: 15px;
  text-indent: 4px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

select {
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

#form-lancamento {
  position: fixed;
  right: 20px;
  width: 200px;
  border: 1px solid #000;
  padding: 10px;
}

#btnAdicionarLancamento {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 4px;
}

input,
select,
#btnAdicionarLancamento {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.tabela-lancamentos {
  width: 600px;
  background-color: #eee;
  border-collapse: collapse;
}

.tabela-lancamentos td,
.tabela-lancamentos th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.tabela-lancamentos tr:nth-child(even) {
  background-color: #fff;
}

.tabela-lancamentos th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ccc;
  text-align: left;
  width: 50%;
}

.destaque-juros td {
  font-weight: bold;
  background-color: #efc9c9;
}

.destaque-rendimentos td {
  font-weight: bold;
  background-color: #c6f2d6;
}

.destaque-saldo td {
  font-weight: bold;
  background-color: #ccc;
}

.grafico {
  width: 600px;
  height: 200px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.grafico-coluna {
  width: 120px;
}

.grafico-coluna-texto {
  text-align: center;
}
